<style>
body, html {
    
    font-family: 'Arial', sans-serif;
  }
  
  .main-container {
    background-color: rgb(254, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.ayAY9cZTL2wpgG7wb_sVjQHaEM?rs=1&pid=ImgDetMain');
    
    color: white;
  }
  
  .content-container {
    margin: 20px;
    background: rgba(216, 130, 205, 0.5);
    padding: 20px;
  }
  
  button {
    background-color: #fefe2f;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e80f0f;
  }
  </style>