<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fc8484;
}

.parrafo {
    background-color: hsl(122, 87%, 52%); 
    margin: 20px;
    color: #f39494;
    max-height: 10rem;
    min-height: 5rem;
      
}


</style>